*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    background-color:#fff;
    color:#555;
    font-family: 'Lato','Arial',sans-serif;
    font-weight: 300px;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x:hidden;
}

body{
    height:100vh;
}

.row-layout{
    max-width: 1140px;
    margin: 0 auto;
}

.m-r-5{
    margin-right:5%;
}

.m-b-5{
    margin-bottom:5%;
}

.hide{
    display:none;
}

.row-layout:before,
.row-layout:after {
    content:"";
    display:table;
    clear:both
}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col-1-block{
    width:100%;
}

